<h1>RESERVAAA</h1>

<mat-card>
  <mat-card-header>
    <mat-card-title>Reservas</mat-card-title>
    <button mat-raised-button color="primary" (click)="openFormCreate()">Agregar
      Reserva</button>
  </mat-card-header>

  <mat-table [dataSource]="forms" class="mat-elevation-z8">

    <ng-container matColumnDef="nombreCompletoCLiente">
      <mat-header-cell *matHeaderCellDef>Nombre Cliente</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.nombreCompletoCLiente}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="marcaVehiculo">
      <mat-header-cell *matHeaderCellDef>Marca Vehículo</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.marcaVehiculo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="modeloVehiculo">
      <mat-header-cell *matHeaderCellDef>Marca Vehículo</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.modeloVehiculo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="placaVehiculo">
      <mat-header-cell *matHeaderCellDef>Placa Vehículo</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.placaVehiculo}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fechaReserva">
      <mat-header-cell *matHeaderCellDef>Fecha Reserva</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.fechaReserva}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="fechaEntrega">
      <mat-header-cell *matHeaderCellDef>Fecha Entrega</mat-header-cell>
      <mat-cell *matCellDef="let rol">{{rol.fechaEntrega}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
      <mat-cell *matCellDef="let rol">
        <p><mat-slide-toggle [(ngModel)]="rol.status"
            (click)="toggleIsActive(rol)"></mat-slide-toggle></p>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let rol">
        <button mat-icon-button (click)="editforms(formseleccionado = rol)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteforms(rol)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
